='<div class="res" style="margin-left:' + indent.to_s + 'em;">'
- if i == 0
  - color = "#C6C2D4"
- else
  - color = "#EAEAFA"
%p{ :class => "i", :style => "background-color: " + color, :id => res.thread.no.to_s+ "_" + res.no.to_s }
  ="<a href='/thread/" + res.thread.no.to_s + "/res/" + res.no.to_s + "/'>" + res.no.to_s + "</a> | " + res.displaydate + res.displaytime + " | "
  %a{ :href => res.time.to_day_link + "id/" + res.id.to_s.gsub('+', '%2b') + "/" }=res.id
%p{ :class => "r" }=res.text
='</div>'
