%div{ :class => "res " + r.id_forjs,  :style => "margin-left:" + indent.to_s + "em" }
  %p{ :class => "i " + (i == 0 ? "bas" : "bal"), :id => r.thread.no.to_s+ "_" + r.no.to_s }
    %a{ :href =>'/thread/' + r.thread.no.to_s + "/res/" + r.no.to_s }<>
      =r.no.to_s
    = " | " + r.displaydate + r.displaytime + " | "
    %a{ :class => r.target_id ? "y" : "" , :href => r.time.to_day_link + "id/" + r.id_forjs + "/" }<
      =r.id
    =surround ' [', ']' do
      %a{ :href => 'javascript:ng("' + r.id_forjs + '")', :class => 'n' }NG
  %p.r=r.text
