!!! XML
%html
  =haml :'common/head'
  %body
    =haml :'common/header', :locals => { :info => info }
    %div.updated
      ="last updated at " + TM.updatedat.strftime('%H:%M:%S JST')
    %div.navi=vt.next_link
    - res = vt.res_by_conds
    - res.each do |res|
      - if res.interm & !res.displayed
        - indent = 2
        =haml :'res/main_res', :locals => { :res => res, :indent => indent, :i => 0 }
    %div.navi=vt.next_link
    =haml :'common/footer'
