!!! XML
-# encoding: utf-8
%html
  =haml :'common/head'
  %body
    =haml :'common/header', :locals => { :info => { :crumb => 'threads' } }
    %h1 threads
    %div.l
      %table
        %tbody
          -TM.all.each.sort_by { |k, v| k }.each do |n, t|
            %tr
              %td
                %a{ :href => "/thread/" + t.no.to_s + "/" }=t.no
              %td="" #t.title.to_s
              %td=t.res_count.to_s
              %td=t.from.strftime('%B %d, %Y')
              %td=t.to.strftime('%B %d, %Y')
    =haml :'common/footer'
