!!! XML
-# encoding: utf-8
%html
  =haml :'common/head'
  %body
    =haml :'common/header', :locals => { :info => { :crumb => 'threads' } }
    %h1 threads
    %div.l
      %table
        %tbody
          -TM.all.each.sort_by { |k, v| k }.each do |n, t|
            %tr
              %td
                %a{ :href => "/thread/" + t.no.to_s + "/" }=t.no
              %td=t.title.to_s
              %td=t.res_count.to_s
              %td=t.from.strftime('%b %d, %y')
              %td=t.to.strftime('%b %d, %y')
              %td=t.lastaccess == nil ? 'nil' : t.lastaccess.to_short_str
              %td=t.has_res_data? ? 'Y' : 'N'
    =haml :'common/footer'
